<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Room:</strong>
  <%= @course.room %>
</p>

<p>
  <strong>Students</strong>
</p>
<% @students.each do |student| %>
  <p><%= link_to student.name, student %></p>
<% end %>

<p>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
</p>
